<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <title>Todo app </title>
</head>

<body>
    <div class="container">
        <header class="text-center">
            <h1>TODO APP TO ORGANIZE YOUR LIFE</h1>
        </header>